In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('reactive_input.csv')
df.head(3)

,CustomerID,Name,Email,Phone,Lapse_Propensity,Customer_Lifetime_Value,Call_Agent,Discount_Eligibility,Annual_Premium
0,1,John Doe,johndoe@example.com,123-456-7890,0.25,1500,Agent A,eligible,1000
1,2,Jane Smith,janesmith@example.com,987-654-3210,0.35,1200,Agent B,eligible,1100
2,3,Alice Johnson,alicejohnson@example.com,456-789-0123,0.15,800,Agent C,not eligible,1050

In [1]:
from faker import Faker
import random
import pandas as pd

# Initialize Faker
fake = Faker()

def generate_customer():
    name = fake.name()
    email = fake.email()
    phone_number = fake.phone_number()
    
    # Generate Lapse_Propensity
    lapse_propensity = round(random.random(), 2)
    
    # Adjust Month propensities based on Lapse_Propensity
    if lapse_propensity > 0.5:
        month_1_propensity = round(random.uniform(0, 0.5), 2)
        month_2_propensity = round(random.uniform(0, 0.5), 2)
        month_3_propensity = round(random.uniform(0, 0.5), 2)
    else:
        month_1_propensity = round(random.uniform(0.5, 1), 2)
        month_2_propensity = round(random.uniform(0.5, 1), 2)
        month_3_propensity = round(random.uniform(0.5, 1), 2)
    
    return {
        'Name': name,
        'Email': email,
        'Phone': phone_number,
        'Lapse_Propensity': lapse_propensity,
        'Customer_Lifetime_Value': round(random.uniform(-5000, 50000), 2),
        'Call_Agent': name,
        'Discount_Eligibility': random.choice(['eligible', 'not eligible']),
        'Age': random.randint(18, 70),
        'Tenure': random.randint(1, 20),
        'Family_Status': random.choice(['Single', 'Couple', 'Single parent family', 'Family', 'Family with Multiple Children']),
        'Annual_Premium': round(random.uniform(1000, 10000), 2),
        'Month_1_Free_Propensity': month_1_propensity,
        'Month_2_Free_Propensity': month_2_propensity,
        'Month_3_Free_Propensity': month_3_propensity,
    }

# Generate 50 random customers
customer_data = [generate_customer() for _ in range(50)]

# Assign CustomerID sequentially from 1 to 50
for index, customer in enumerate(customer_data, start=1):
    customer['CustomerID'] = index
    
# Convert the list of dictionaries to a DataFrame
df_customers = pd.DataFrame(customer_data)

# export
df_customers.to_csv('reactive_input_2.csv', index=False)

In [2]:
df_customers

,Name,Email,Phone,Lapse_Propensity,Customer_Lifetime_Value,Call_Agent,Discount_Eligibility,Age,Tenure,Family_Status,Annual_Premium,Month_1_Free_Propensity,Month_2_Free_Propensity,Month_3_Free_Propensity,CustomerID
0,Ronald Burton,vpena@example.com,281.957.5502x2766,0.02,13001.43,Ronald Burton,eligible,20,17,Family,6152.31,0.98,0.67,0.57,1
1,Mark Krueger,jeremygreen@example.net,113-918-0230x80290,0.03,11089.63,Mark Krueger,not eligible,70,16,Couple,3320.12,0.71,0.72,0.92,2
2,Courtney Morales,christopher29@example.net,001-937-409-1509x17100,0.26,30824.41,Courtney Morales,eligible,52,13,Couple,8400.85,0.65,0.98,0.89,3
3,Thomas Valdez,timothy25@example.org,(700)178-0840x99893,0.24,24084.34,Thomas Valdez,eligible,32,16,Couple,9899.98,0.63,0.62,0.57,4
4,Edwin Carlson,lindsay41@example.net,(767)575-4203x436,0.62,-2794.74,Edwin Carlson,not eligible,19,11,Couple,7254.57,0.39,0.41,0.20,5
5,Colleen Fields,hrowe@example.com,001-577-497-0912x07708,0.38,39985.98,Colleen Fields,eligible,27,11,Single,8406.61,0.86,0.70,0.90,6
6,Stephen Santana,andreataylor@example.net,001-432-971-9294x79921,0.67,40314.28,Stephen Santana,eligible,29,17,Couple,9828.05,0.13,0.42,0.14,7
7,Sarah Sutton,michelle08@example.net,077.041.4921x5403,0.81,5919.05,Sarah Sutton,eligible,43,11,Single parent family,7517.80,0.36,0.14,0.15,8
8,Renee Bowen,bethwilson@example.org,001-255-431-2005x188,0.88,31668.67,Renee Bowen,eligible,31,9,Couple,9547.27,0.44,0.29,0.42,9
9,Vickie Fletcher,garrettespinoza@example.com,6663556265,0.70,36178.57,Vickie Fletcher,not eligible,45,1,Family,6758.56,0.10,0.21,0.41,10
10,Riley Robinson,alexander46@example.net,+1-547-167-9901x762,0.15,14829.47,Riley Robinson,eligible,24,6,Single parent family,3529.01,0.86,0.79,0.75,11
11,Luke Day,aprilchapman@example.org,965-265-5068,0.42,18486.81,Luke Day,not eligible,69,7,Couple,5237.82,0.71,0.52,0.64,12
12,Angela Diaz,jreed@example.com,+1-061-789-0051x43308,0.03,45668.16,Angela Diaz,not eligible,37,2,Single parent family,7880.62,0.55,0.77,0.97,13
13,Anne Fletcher,swhite@example.org,001-805-903-3805x914,0.72,25838.27,Anne Fletcher,eligible,19,18,Couple,8825.68,0.23,0.39,0.05,14
14,Tiffany Williams,morrismichael@example.net,(288)001-1861,0.93,39863.14,Tiffany Williams,eligible,42,6,Single,6082.09,0.21,0.47,0.11,15
15,Benjamin Pennington,mary42@example.com,1100454119,0.98,2972.87,Benjamin Pennington,eligible,50,19,Single,9477.73,0.42,0.21,0.20,16
16,Rebecca Walker,thompsonmegan@example.org,+1-450-424-4554x9412,0.80,41929.96,Rebecca Walker,not eligible,22,2,Single parent family,3879.22,0.37,0.33,0.37,17
17,Christopher Shepard,jamesperez@example.com,001-295-292-3186x854,0.11,22615.79,Christopher Shepard,eligible,32,18,Single parent family,8898.60,0.92,0.96,0.78,18
18,Cynthia Boyer,victordouglas@example.net,+1-355-400-0182x09186,0.55,16615.57,Cynthia Boyer,not eligible,51,9,Family with Multiple Children,6104.92,0.16,0.17,0.07,19
19,Adam Baxter,karen41@example.org,+1-590-399-4633,0.30,9434.81,Adam Baxter,eligible,57,8,Family,2181.33,0.61,0.87,0.74,20
20,Laura Guerrero,salinasmichael@example.net,+1-829-226-1254x90152,0.40,49716.72,Laura Guerrero,not eligible,41,2,Single,4923.23,0.72,0.83,0.66,21
21,Julie Higgins,rli@example.org,388-471-8236x90702,0.11,5839.57,Julie Higgins,eligible,21,4,Single parent family,8499.99,0.85,0.76,0.70,22
22,Cristian Harris,morganmelanie@example.org,267.579.6540,0.90,46806.72,Cristian Harris,not eligible,62,4,Couple,6834.19,0.49,0.02,0.45,23
23,Erik Shaw,mezajose@example.org,(336)607-1655,0.05,46848.04,Erik Shaw,eligible,68,2,Single,1431.95,0.53,0.75,0.96,24
24,Kimberly Williams,contrerasjulie@example.org,626-189-5762x85970,0.84,28905.46,Kimberly Williams,eligible,31,9,Single parent family,9170.47,0.08,0.11,0.18,25
25,Brittany Davis,rachelrodriguez@example.com,0138018525,0.30,30762.52,Brittany Davis,not eligible,56,5,Family,8564.04,0.50,0.97,0.95,26
26,Benjamin Ward,weberalexander@example.org,1573472332,0.53,14906.27,Benjamin Ward,not eligible,18,2,Single parent family,4291.34,0.39,0.18,0.24,27
27,Erin Keith,stonejesse@example.org,(373)714-8362x883,0.51,2297.76,Erin Keith,not eligible,55,15,Family,5046.86,0.34,0.23,0.46,28
28,Erik Stewart,jdavis@example.net,(911)134-5595x28510,0.23,42953.36,Erik Stewart,eligible,27,12,Couple,7365.84,0.55,0.92,0.74,29
29,Melissa Campos,kristycook@example.com,+1-561-047-0881x6155,0.21,49470.81,Melissa Campos,not eligible,20,2,Single,7699.77,0.94,0.65,0.71,30
30,Curtis Smith,cameron44@example.net,+1-999-260-4306x22894,0.07,37559.31,Curtis Smith,eligible,52,3,Single parent family,3709.61,0.55,0.66,0.97,31
31,Jacob Chapman,valerieramsey@example.net,(455)186-0589x4817,0.16,-3043.72,Jacob Chapman,not eligible,70,20,Single,6249.16,0.73,0.98,0.77,32
32,Elizabeth Durham,laurenbrown@example.com,+1-168-434-7782x2347,0.77,35776.25,Elizabeth Durham,not eligible,51,15,Single parent family,5028.00,0.15,0.05,0.11,33
33,Sheila Kim,ellissamantha@example.org,001-253-344-6974x206,0.06,5861.84,Sheila Kim,eligible,57,3,Single,2796.79,0.68,0.67,0.89,34
34,Edward Meyer,alexander88@example.org,+1-717-187-3888,0.79,4477.15,Edward Meyer,eligible,24,6,Single parent family,5111.74,0.41,0.23,0.42,35
35,Monica Jones,james71@example.net,(580)256-4879x53310,0.26,24822.47,Monica Jones,not eligible,67,4,Family with Multiple Children,5958.42,0.85,0.97,0.62,36
36,Christopher Anderson,rubiolorraine@example.net,(621)401-9882x148,0.36,39485.75,Christopher Anderson,eligible,19,6,Single parent family,4991.09,0.67,0.65,0.76,37
37,Danielle Campbell,brad74@example.org,001-397-704-8960x253,1.00,18040.68,Danielle Campbell,not eligible,61,18,Single,9514.78,0.43,0.38,0.21,38
38,Bill Smith,erikariley@example.net,(602)003-9744x469,0.41,4141.13,Bill Smith,eligible,51,19,Single parent family,4844.76,0.65,0.82,0.87,39
39,Bryan Lowe,gabrielletrujillo@example.net,7959793377,0.25,29391.35,Bryan Lowe,not eligible,18,15,Family,8930.31,0.59,0.92,0.70,40
40,Margaret Reid,todd35@example.org,+1-882-601-8402x5222,0.66,38179.40,Margaret Reid,not eligible,53,8,Single,4626.19,0.45,0.20,0.18,41
41,Molly Bartlett,breannanelson@example.net,(349)814-8140x3274,0.39,42451.92,Molly Bartlett,not eligible,70,7,Family with Multiple Children,1112.59,0.61,0.97,0.58,42
42,Tyler Lopez,christineholmes@example.net,115-660-0243,0.15,20503.97,Tyler Lopez,not eligible,52,14,Single parent family,3430.10,0.59,0.71,0.52,43
43,Karen Valdez,brandongill@example.org,(889)098-3074x3343,0.06,8171.07,Karen Valdez,eligible,31,18,Single parent family,4902.25,0.86,0.60,0.78,44
44,Laura Smith,robertlewis@example.com,(330)682-2153x55248,0.75,1674.96,Laura Smith,eligible,26,1,Single parent family,8563.99,0.42,0.10,0.17,45
45,Tina Love,andrewswanson@example.com,(650)825-2920x0951,0.15,28775.61,Tina Love,eligible,45,12,Single,5214.17,0.53,0.55,0.62,46
46,Michelle Parker,cjohnson@example.com,+1-706-781-5771x2334,0.02,20165.11,Michelle Parker,eligible,28,1,Couple,1794.29,0.86,0.61,0.65,47
47,Gregory Washington,sandrapotter@example.org,5997353968,0.48,14898.71,Gregory Washington,not eligible,23,14,Couple,5729.22,0.68,0.57,0.97,48
48,Michael Arias,christensenstacey@example.net,839-496-4525,0.23,20944.04,Michael Arias,eligible,58,7,Single,6372.17,0.81,0.50,0.99,49
49,John Castro,henry71@example.net,+1-909-359-2929x052,0.92,25370.95,John Castro,not eligible,18,4,Family,7964.61,0.31,0.18,0.14,50