In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('proactive_input.csv')
df.head(3)

,CustomerID,Name,Email,Phone,Lapse_Propensity,Customer_Lifetime_Value,Call_Agent
0,1,John Doe,johndoe@example.com,123-456-7890,0.25,1500,Agent A
1,2,Jane Smith,janesmith@example.com,987-654-3210,0.35,1200,Agent B
2,3,Alice Johnson,alicejohnson@example.com,456-789-0123,0.15,800,Agent C

In [3]:
from faker import Faker
import random
import pandas as pd

# Initialize Faker
fake = Faker()

def generate_customer():
    name = fake.name()
    email = fake.email()
    return {
        'registration_id': random.randint(1, 50),
        'name': name,
        'email': email,
        'age': random.randint(18, 70),
        'tenure': random.randint(1, 20),
        'family_status': random.choice(['Single', 'Couple', 'Single parent family', 'Family', 'Family with Multiple Children']),
        'premium': random.uniform(1000, 10000),
        '1_month_free_propensity': random.random(),
        '2_month_free_propensity': random.random(),
        '3_month_free_propensity': random.random(),
        'lifetime_value': random.uniform(-5000, 50000)
    }

# Generate 5 random customers
customer_data = [generate_customer() for _ in range(50)]

# Convert the list of dictionaries to a DataFrame
df_customers = pd.DataFrame(customer_data)

In [4]:
df_customers.to_csv('proactive_input_2.csv', index=False)