In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('reactive_input.csv')
df.head(3)

,CustomerID,Name,Email,Phone,Lapse_Propensity,Customer_Lifetime_Value,Call_Agent,Discount_Eligibility,Annual_Premium
0,1,John Doe,johndoe@example.com,123-456-7890,0.25,1500,Agent A,eligible,1000
1,2,Jane Smith,janesmith@example.com,987-654-3210,0.35,1200,Agent B,eligible,1100
2,3,Alice Johnson,alicejohnson@example.com,456-789-0123,0.15,800,Agent C,not eligible,1050

In [3]:
from faker import Faker
import random
import pandas as pd

# Initialize Faker
fake = Faker()

def generate_customer():
    name = fake.name()
    email = fake.email()
    phone_number = fake.phone_number()
    
    # Generate Lapse_Propensity
    lapse_propensity = round(random.random(), 2)
    
    # Adjust Month propensities based on Lapse_Propensity
    if lapse_propensity > 0.5:
        month_1_propensity = round(random.uniform(0, 0.5), 2)
        month_2_propensity = round(random.uniform(0, 0.5), 2)
        month_3_propensity = round(random.uniform(0, 0.5), 2)
    else:
        month_1_propensity = round(random.uniform(0.5, 1), 2)
        month_2_propensity = round(random.uniform(0.5, 1), 2)
        month_3_propensity = round(random.uniform(0.5, 1), 2)
    
    # Set Discount_Eligibility to "eligible" 80% of the time
    discount_eligibility = random.choices(['eligible', 'not eligible'], weights=[0.8, 0.2])[0]
    
    return {
        'Name': name,
        'Email': email,
        'Phone': phone_number,
        'Lapse_Propensity': lapse_propensity,
        'Customer_Lifetime_Value': round(random.uniform(-5000, 50000), 2),
        'Call_Agent': name,
        'Discount_Eligibility': discount_eligibility,
        'Age': random.randint(18, 70),
        'Tenure': random.randint(1, 20),
        'Family_Status': random.choice(['Single', 'Couple', 'Single parent family', 'Family', 'Family with Multiple Children']),
        'Annual_Premium': round(random.uniform(1000, 10000), 2),
        'Month_1_Free_Propensity': month_1_propensity,
        'Month_2_Free_Propensity': month_2_propensity,
        'Month_3_Free_Propensity': month_3_propensity,
    }

# Generate 50 random customers
customer_data = [generate_customer() for _ in range(50)]

# Assign CustomerID sequentially from 1 to 50
for index, customer in enumerate(customer_data, start=1):
    customer['CustomerID'] = index
    
# Convert the list of dictionaries to a DataFrame
df_customers = pd.DataFrame(customer_data)

# export
df_customers.to_csv('reactive_input_2.csv', index=False)

In [4]:
df_customers

,Name,Email,Phone,Lapse_Propensity,Customer_Lifetime_Value,Call_Agent,Discount_Eligibility,Age,Tenure,Family_Status,Annual_Premium,Month_1_Free_Propensity,Month_2_Free_Propensity,Month_3_Free_Propensity,CustomerID
0,Rebecca Bright,candacewilson@example.org,0349849057,0.18,6622.38,Rebecca Bright,eligible,38,2,Single,4060.30,0.68,0.64,0.52,1
1,Tiffany Barnes,daniellelove@example.org,654.426.6745,0.66,13897.80,Tiffany Barnes,eligible,31,12,Couple,6357.56,0.04,0.47,0.26,2
2,Virginia Flowers,hoffmanandrew@example.com,0167223739,0.80,25904.49,Virginia Flowers,not eligible,31,17,Family with Multiple Children,9563.64,0.19,0.46,0.17,3
3,Shane Jackson,susan74@example.org,(687)268-5852,0.51,41315.56,Shane Jackson,eligible,39,11,Single parent family,2858.62,0.48,0.34,0.14,4
4,Albert Lewis,josephnewton@example.org,369-005-5849x804,0.82,16053.16,Albert Lewis,eligible,31,10,Family,9650.93,0.28,0.19,0.31,5
5,Toni Maxwell,richard59@example.net,0148840646,0.80,2925.46,Toni Maxwell,eligible,52,5,Couple,1054.80,0.43,0.25,0.12,6
6,John Stout,joshua98@example.net,631.970.8738,0.90,38264.61,John Stout,eligible,45,5,Single parent family,7616.26,0.29,0.35,0.15,7
7,Christopher Gilmore,patriciawhite@example.com,001-028-556-0645x522,1.00,43146.81,Christopher Gilmore,eligible,68,11,Single parent family,7549.27,0.12,0.09,0.16,8
8,Laura Bolton,kurtreed@example.org,001-810-119-4550x40620,0.68,44491.88,Laura Bolton,eligible,42,12,Single,8555.87,0.02,0.40,0.21,9
9,Amanda Smith,qmarshall@example.net,121-863-5061x0481,0.65,39139.17,Amanda Smith,not eligible,51,7,Single parent family,6077.99,0.28,0.39,0.02,10
10,David Lewis,andrea74@example.org,+1-285-826-3427x11241,0.44,27599.39,David Lewis,eligible,48,4,Single parent family,2088.43,0.81,0.86,0.78,11
11,Deanna Wood,patriciaduncan@example.org,461-479-4797x0602,0.14,2409.06,Deanna Wood,eligible,26,14,Couple,9792.40,0.93,0.57,0.64,12
12,Adam Galvan Jr.,garciapeter@example.net,+1-344-950-6277x5539,0.06,39865.23,Adam Galvan Jr.,not eligible,42,18,Single parent family,7368.29,0.70,0.53,0.97,13
13,Nicholas Baxter,qhill@example.org,+1-733-312-5266x1683,0.76,-1012.54,Nicholas Baxter,eligible,68,11,Family,5485.27,0.22,0.38,0.36,14
14,Danielle Pacheco,ahobbs@example.net,660-051-3224,0.12,42967.99,Danielle Pacheco,eligible,27,11,Family with Multiple Children,7991.59,0.62,0.91,0.99,15
15,Jacob Garza,brucecummings@example.org,+1-179-884-0786x987,0.62,11604.00,Jacob Garza,eligible,31,13,Family,1043.13,0.36,0.27,0.43,16
16,Marissa Byrd,phamjohn@example.com,+1-901-899-9773x549,0.28,7192.47,Marissa Byrd,eligible,59,20,Family,2223.50,0.90,0.68,0.51,17
17,Carrie Hudson,peter20@example.com,001-166-304-7349,0.72,31894.03,Carrie Hudson,eligible,51,20,Family,8656.43,0.49,0.12,0.06,18
18,Janice Wyatt,brownamanda@example.org,881-351-4569x052,0.08,45610.80,Janice Wyatt,eligible,55,12,Couple,3750.95,0.57,0.70,0.90,19
19,Ronald Ramsey,jorge29@example.net,0967790539,0.44,39710.15,Ronald Ramsey,eligible,65,19,Family,3322.16,0.91,0.80,0.58,20
20,Kristy Evans,jonestracy@example.com,001-437-644-7382x674,0.82,15050.39,Kristy Evans,not eligible,51,2,Family with Multiple Children,7484.90,0.39,0.21,0.11,21
21,Brian Miller,ngutierrez@example.org,(237)500-5252x32774,0.90,12409.61,Brian Miller,eligible,64,20,Single parent family,1211.47,0.15,0.43,0.30,22
22,Timothy Bullock,wardlaura@example.org,+1-975-398-1441x116,0.37,26487.28,Timothy Bullock,eligible,43,14,Single parent family,1416.96,0.52,0.52,0.56,23
23,Miss Margaret Jordan,hmeza@example.net,886.991.2732x065,0.56,47878.24,Miss Margaret Jordan,eligible,22,15,Couple,3511.41,0.28,0.12,0.47,24
24,April Lowe,pmartin@example.net,160-932-3142x6319,0.02,41783.04,April Lowe,eligible,40,15,Single,7596.85,0.51,0.98,0.81,25
25,Mary Wilson,raymonddaniel@example.com,(485)902-8100x833,1.00,18935.41,Mary Wilson,eligible,70,11,Family,5608.87,0.22,0.22,0.32,26
26,Ashley Marsh,liudonna@example.org,6745699527,0.48,-1890.38,Ashley Marsh,not eligible,68,4,Couple,8116.08,0.82,0.70,0.63,27
27,Michelle Orozco,heatherparker@example.org,657-602-8438x292,0.85,9111.63,Michelle Orozco,eligible,35,5,Single,8331.78,0.33,0.49,0.21,28
28,Allison Ramsey,paynemckenzie@example.net,741-674-2799x233,0.34,24943.69,Allison Ramsey,eligible,69,3,Couple,9954.48,0.97,0.69,0.90,29
29,Erik Holder,reevescarol@example.com,413.388.2643,0.15,9179.63,Erik Holder,eligible,58,13,Family,4893.61,0.55,0.82,0.69,30
30,Taylor Smith,schroedermichael@example.net,4122888216,0.77,30361.07,Taylor Smith,eligible,27,3,Couple,9174.60,0.26,0.10,0.49,31
31,Robin Collins,sharpjessica@example.net,564.246.3858,0.24,-935.33,Robin Collins,eligible,44,1,Family with Multiple Children,5345.25,0.81,0.60,0.86,32
32,Scott Green,julie59@example.net,907.451.4256x99115,0.73,47930.41,Scott Green,eligible,18,13,Couple,7962.84,0.33,0.05,0.10,33
33,Sean Fitzgerald,tracyfuentes@example.net,793.422.0536x47163,0.48,9875.42,Sean Fitzgerald,not eligible,47,7,Family,4180.91,0.52,0.51,0.76,34
34,Stacey Sawyer,ymorrison@example.net,+1-116-552-4698x79135,0.65,15662.41,Stacey Sawyer,eligible,44,4,Couple,2338.06,0.47,0.41,0.39,35
35,Alan White,ghall@example.net,+1-145-833-6408x6162,0.49,9696.71,Alan White,eligible,34,3,Family,8482.16,0.71,0.68,0.59,36
36,Michael Gonzales,tanya39@example.org,453.245.5231x548,0.64,25889.04,Michael Gonzales,eligible,70,16,Family,1703.30,0.12,0.30,0.39,37
37,Sonya Gonzalez,youngjanet@example.org,085-492-2442x62511,0.58,15133.59,Sonya Gonzalez,eligible,34,19,Single parent family,4551.59,0.26,0.36,0.45,38
38,Amanda Martin,ghudson@example.com,821-058-1799,0.25,23125.89,Amanda Martin,eligible,67,6,Single parent family,6953.12,0.83,0.92,0.92,39
39,Nicole Davis,eelliott@example.com,739.684.1077x85050,0.82,4573.33,Nicole Davis,eligible,64,10,Couple,2190.05,0.10,0.18,0.19,40
40,Melissa Dougherty,cynthianelson@example.org,+1-082-058-3916,0.46,10687.13,Melissa Dougherty,eligible,43,17,Couple,7184.73,0.83,0.97,0.59,41
41,Dr. Richard Holloway II,josecooper@example.com,(249)666-5761,0.53,2623.82,Dr. Richard Holloway II,eligible,42,6,Couple,4585.92,0.25,0.16,0.33,42
42,Stephanie Mueller,tayloryoung@example.org,001-938-777-4123x993,0.21,5680.57,Stephanie Mueller,not eligible,45,9,Family,1941.43,0.65,0.81,0.82,43
43,Jason Mendoza,hlane@example.com,885.201.9027x4358,0.45,32422.26,Jason Mendoza,eligible,64,20,Couple,9226.01,0.56,0.64,0.89,44
44,Melissa Webster,danielpage@example.com,878-672-7600,0.23,25073.01,Melissa Webster,eligible,66,14,Family,6832.86,0.57,0.94,0.86,45
45,Taylor Hall,collinsstephanie@example.net,(398)470-7576,0.10,18034.63,Taylor Hall,eligible,47,11,Couple,4175.78,0.81,0.54,0.55,46
46,Christopher Crane,mooremary@example.com,001-891-690-0962x6020,0.59,31465.12,Christopher Crane,eligible,50,5,Family with Multiple Children,6960.02,0.22,0.03,0.32,47
47,Laura Perez,lisahayes@example.net,812-314-9934,0.59,22209.74,Laura Perez,eligible,52,3,Single,6681.06,0.04,0.20,0.13,48
48,Michael Thomas,sethcamacho@example.org,065-166-3059,0.00,21353.98,Michael Thomas,eligible,50,7,Family,9173.16,0.79,0.66,0.57,49
49,Mark Mccarthy,twhite@example.com,001-145-022-3920x668,0.62,-2388.24,Mark Mccarthy,eligible,67,9,Family,9572.58,0.29,0.01,0.05,50