In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('reactive_input.csv')
df.head(3)

,CustomerID,Name,Email,Phone,Lapse_Propensity,Customer_Lifetime_Value,Call_Agent,Discount_Eligibility,Annual_Premium
0,1,John Doe,johndoe@example.com,123-456-7890,0.25,1500,Agent A,eligible,1000
1,2,Jane Smith,janesmith@example.com,987-654-3210,0.35,1200,Agent B,eligible,1100
2,3,Alice Johnson,alicejohnson@example.com,456-789-0123,0.15,800,Agent C,not eligible,1050

In [24]:
from faker import Faker
import random
import pandas as pd

# Initialize Faker
fake = Faker()

def generate_customer():
    name = fake.name()
    email = fake.email()
    phone_number = fake.phone_number()
    return {
        'Name': name,
        'Email': email,
        'Phone': phone_number,
        'Lapse_Propensity': round(random.random(),2),
        'Customer_Lifetime_Value': round(random.uniform(-5000, 50000),2),
        'Call_Agent': name,
        'Discount_Eligibility': random.choice(['eligibile', 'not eligible']),
        'Age': random.randint(18, 70),
        'Tenure': random.randint(1, 20),
        'Family_Status': random.choice(['Single', 'Couple', 'Single parent family', 'Family', 'Family with Multiple Children']),
        'Annual_Premium': round(random.uniform(1000, 10000),2),
        '1_Month_Free_Propensity': round(random.random(),2),
        '2_Month_Free_Propensity': round(random.random(),2),
        '3_Month_Free_Propensity': round(random.random(),2),
    }

# Generate 50 random customers
customer_data = [generate_customer() for _ in range(50)]

# Assign CustomerID sequentially from 1 to 50
for index, customer in enumerate(customer_data, start=1):
    customer['CustomerID'] = index
    
# Convert the list of dictionaries to a DataFrame
df_customers = pd.DataFrame(customer_data)

# export
df_customers.to_csv('reactive_input_2.csv', index=False)

In [23]:
df_customers

,Name,Email,Phone,Lapse_Propensity,Customer_Lifetime_Value,Call_Agent,Discount_Eligibility,Age,Tenure,Family_Status,Annual_Premium,1_Month_Free_Propensity,2_Month_Free_Propensity,3_Month_Free_Propensity,CustomerID
0,Felicia Liu,chamilton@example.net,(738)114-1336x4769,0.969682,33135.01,Felicia Liu,not eligible,46,7,Single parent family,9440.05,0.86,0.85,0.95,1
1,Zachary Owens,kingtimothy@example.org,001-946-586-4023x287,0.713089,33347.26,Zachary Owens,not eligible,26,20,Family,7698.82,0.59,0.93,0.97,2
2,Diane Brown,hrice@example.com,001-879-813-4203x1078,0.551276,4092.82,Diane Brown,not eligible,43,11,Family,8821.04,0.84,0.97,0.31,3
3,Victoria Hooper,amandagill@example.net,(247)645-9316,0.638543,38604.85,Victoria Hooper,eligibile,53,8,Couple,7122.86,0.29,0.55,0.65,4
4,Sydney Rivera,lsmith@example.org,001-204-935-4541x593,0.183875,31621.76,Sydney Rivera,eligibile,31,6,Single,4918.60,0.64,0.52,0.18,5
5,Mr. Alexander Taylor,julie84@example.net,(383)190-5529x12653,0.713438,43032.88,Mr. Alexander Taylor,eligibile,64,9,Single,6205.85,0.71,0.31,0.63,6
6,John Lamb,kelly56@example.net,001-858-277-2195x764,0.762152,10254.84,John Lamb,not eligible,57,15,Couple,5289.56,0.33,0.81,0.22,7
7,Mr. Kyle Jackson,stephensandrew@example.org,130.356.3587x911,0.309145,40123.32,Mr. Kyle Jackson,not eligible,52,3,Single,1739.72,0.59,0.85,0.58,8
8,Gregory Martin,anne50@example.org,001-272-462-3438,0.184157,17295.82,Gregory Martin,eligibile,30,14,Single parent family,5132.80,0.29,0.77,0.15,9
9,Mary Simmons,elizabeththomas@example.net,001-925-795-8915x7702,0.641153,32125.54,Mary Simmons,eligibile,60,10,Single parent family,4050.58,0.51,0.55,0.98,10
10,Brandon Pitts,fisherjohnny@example.net,461-356-4856x0763,0.997301,626.62,Brandon Pitts,not eligible,37,13,Family,5419.90,0.95,0.83,0.30,11
11,Robert Collier,mollyclark@example.org,001-868-941-9475,0.736241,5234.48,Robert Collier,not eligible,44,4,Single parent family,8848.13,0.89,0.96,0.17,12
12,Wendy Smith,eodonnell@example.com,433-880-2204,0.907400,37338.88,Wendy Smith,not eligible,44,7,Single parent family,7615.40,0.07,0.12,0.94,13
13,Lisa Wood,crystalrussell@example.com,271-979-5440,0.039068,32500.13,Lisa Wood,not eligible,46,4,Couple,5233.78,0.94,0.16,0.56,14
14,Joseph Li,moorejoanna@example.com,+1-375-586-0981x6575,0.433665,2939.39,Joseph Li,not eligible,49,4,Single parent family,1025.62,0.18,0.98,0.66,15
15,Julie Morris,alexis35@example.org,984.367.8967,0.611926,1381.18,Julie Morris,not eligible,34,12,Single parent family,8479.45,0.50,0.59,0.13,16
16,Kelly Nicholson,curtis97@example.net,004-381-3823x940,0.080071,47285.68,Kelly Nicholson,eligibile,29,1,Single,6253.71,0.79,0.80,0.83,17
17,Amy Shah MD,oliverheather@example.com,844.657.7233x33356,0.795974,20126.51,Amy Shah MD,eligibile,23,7,Family,9678.94,0.04,0.50,0.92,18
18,James Johnson,james74@example.net,(465)021-2516,0.796302,13272.47,James Johnson,not eligible,26,11,Single parent family,4326.18,0.51,0.97,0.19,19
19,Andrea Salazar,jonesalex@example.org,1491151787,0.119479,31471.48,Andrea Salazar,eligibile,50,15,Couple,4087.09,0.67,0.81,0.91,20
20,Dr. Andrea Lane MD,gonzalezbrian@example.com,+1-154-254-4250,0.490583,8657.78,Dr. Andrea Lane MD,eligibile,61,20,Couple,7910.89,0.05,0.53,0.08,21
21,Marilyn Barnes,rogersmichele@example.net,001-492-175-8215x21922,0.207154,20369.29,Marilyn Barnes,not eligible,63,19,Single,8518.44,0.50,0.64,0.95,22
22,Leslie Collins,donnasanchez@example.org,(816)424-1944x329,0.279966,33484.48,Leslie Collins,not eligible,33,3,Family with Multiple Children,5914.02,0.96,0.87,0.70,23
23,Tina Evans,bryandavis@example.net,(815)178-6609x44588,0.161445,-3329.96,Tina Evans,eligibile,43,9,Family,9029.97,0.91,0.86,0.33,24
24,Benjamin Castro,kennedyvanessa@example.org,267.265.1266x074,0.649918,-4345.74,Benjamin Castro,eligibile,45,16,Family,6273.37,0.16,0.03,0.50,25
25,Sonya Dunn,clinton04@example.net,+1-189-326-4485,0.028869,44787.60,Sonya Dunn,eligibile,49,11,Single,2953.35,0.43,0.87,0.01,26
26,Michelle Sullivan,gonzalesdrew@example.com,(879)471-1588,0.059154,12539.40,Michelle Sullivan,not eligible,68,15,Single parent family,2928.14,0.85,0.07,0.07,27
27,Rachel Reed,shannoncooper@example.net,386-734-7302x12312,0.970712,-4295.54,Rachel Reed,not eligible,55,18,Family with Multiple Children,3683.94,0.86,0.30,0.04,28
28,William Robbins,natalie32@example.org,281-523-7715,0.033511,30001.70,William Robbins,eligibile,68,10,Family,5785.38,0.62,0.80,0.76,29
29,Corey Spencer,danielle18@example.org,(659)934-8368x64400,0.391318,32927.68,Corey Spencer,eligibile,65,8,Single parent family,6601.36,0.72,0.25,0.54,30
30,Jose Hendrix,reyesraven@example.org,5894719819,0.474227,29063.20,Jose Hendrix,not eligible,45,8,Single,7382.22,0.99,0.23,0.38,31
31,Connie Trujillo,harrisbetty@example.net,+1-356-172-2579x590,0.136250,5774.38,Connie Trujillo,not eligible,65,1,Couple,8143.11,0.43,0.26,0.29,32
32,Michelle Moore,gregory93@example.com,+1-011-517-9190x714,0.657706,28250.00,Michelle Moore,eligibile,54,11,Couple,5242.37,0.11,0.25,0.26,33
33,Christina Richardson,sanchezlori@example.net,212-855-3649,0.787003,1093.55,Christina Richardson,eligibile,52,14,Family,6382.99,0.30,0.41,0.48,34
34,Ronald Miles,elizabeth22@example.net,137-927-7551x240,0.856593,40657.28,Ronald Miles,eligibile,64,9,Family with Multiple Children,6573.27,0.21,0.11,0.47,35
35,Brooke Jones,roberthubbard@example.com,237.270.6385x0343,0.866522,1225.28,Brooke Jones,not eligible,27,10,Family with Multiple Children,8658.79,0.34,0.54,0.96,36
36,Chelsey Bennett,hball@example.org,217-345-8118x4324,0.182321,26640.77,Chelsey Bennett,not eligible,41,10,Couple,1220.92,0.95,0.58,0.06,37
37,Noah Nelson,tomkelley@example.net,843-954-5149x7182,0.270882,8448.66,Noah Nelson,eligibile,59,11,Single parent family,3638.62,0.21,0.56,0.89,38
38,Joseph Johnson,gonzalezrebekah@example.com,871-418-7180,0.081921,45159.50,Joseph Johnson,eligibile,51,12,Family,4661.90,0.32,0.64,0.07,39
39,Matthew Whitaker,elizabethcarpenter@example.net,+1-723-807-7140,0.137415,38009.78,Matthew Whitaker,not eligible,31,3,Single parent family,7931.99,0.82,0.05,0.58,40
40,Nicole Davis,martha68@example.com,032-387-7947x15137,0.022735,13763.40,Nicole Davis,not eligible,36,18,Couple,4876.79,0.26,0.79,0.14,41
41,Tanya Griffith,garciatricia@example.com,2259838468,0.196924,-3280.76,Tanya Griffith,eligibile,26,3,Couple,5398.52,0.40,0.36,0.57,42
42,Shane Adams,lisa27@example.com,+1-045-434-1575x2036,0.645814,-1094.14,Shane Adams,not eligible,29,10,Couple,2470.47,0.92,0.12,0.81,43
43,Deanna Diaz,juan12@example.com,7222030394,0.353520,-3659.47,Deanna Diaz,not eligible,69,19,Family with Multiple Children,3518.74,0.48,0.50,0.92,44
44,Zachary Medina,wharper@example.org,+1-232-450-3770,0.622357,8367.55,Zachary Medina,eligibile,24,13,Single parent family,5024.56,0.29,0.14,0.94,45
45,Linda Wright,zchristian@example.net,754.430.3792,0.754192,16061.92,Linda Wright,not eligible,19,15,Single parent family,9977.71,0.07,0.64,0.74,46
46,Katrina Reid,robingonzalez@example.com,001-715-420-6076,0.505128,1665.91,Katrina Reid,not eligible,31,7,Single parent family,2486.70,0.53,0.86,0.37,47
47,Julia Robinson,william92@example.com,001-462-137-7096x342,0.874945,38943.04,Julia Robinson,eligibile,58,13,Single,1094.01,0.76,0.20,0.77,48
48,Mrs. Tanya Anthony,burgessnicole@example.com,552.526.5238,0.810337,-2465.58,Mrs. Tanya Anthony,not eligible,36,20,Single,2440.61,0.56,0.64,0.82,49
49,Timothy Munoz,igordon@example.net,(373)857-1813x8289,0.620318,730.02,Timothy Munoz,eligibile,57,9,Couple,8297.27,0.47,0.25,0.84,50